
body {
   margin: 0;
   place-items: center;
   min-width: 320px;
   min-height: 100vh;
 }
 
 
 span.MuiTypography-root{
   font-family: "Undertale", serif;
 }
 
 
 /* Десктопный */
 @media only screen and (min-width: 1258px) {
 
 }
 
 
 /* Планшетный */
 @media only screen and (min-width: 870px) and (max-width: 1257px) {
 
 }
 
 /* Мобильный */
 @media only screen and (max-width: 869px) {
   body {
     margin: 0;
     place-items: center;
     max-width: 400px;
     min-height: 50vh;
   }
 }